@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
/* ## Colors */

/* ### Primary */

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* ### Neutral */
/* (main BG) */
--Very-dark-blue-main: hsl(217, 54%, 11%);
/* -(card BG) */
--Very-dark-blue-card:hsl(216, 50%, 16%); 
/* -(line) */
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
/* font-family: 'Outfit', sans-serif; */
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100wh;
    font-family:'Outfit', sans-serif;
    background-color: var(--Very-dark-blue-line);
    display:flex;
    justify-content:center;
    align-items:center;
    min-width: 375px;
}
.main-container{
    height:30rem;
    width: 19rem;
    background-color:var(--Very-dark-blue-main);
    border-radius:20px;
    padding:1rem;
}

.card{
    height:28rem;
    width:17rem;
    border-radius:15px;
    background-color: var(--Very-dark-blue-card);
    padding:1rem;
}
.image img {
    height:13rem;
    width:15rem;
    border-radius:10px;
}
.image img:hover{
    background-image: url(./images/icon-view.svg);
    cursor:pointer;
}
.summary > h4{
    color: var(--White);
    margin-top:12px;
    margin-bottom:12px;
}
.summary > h4 > span{
    cursor:pointer;
    color: var(--White);
}
.summary p{
    color:var(--Soft-blue);
    font-weight:400;
    opacity:0.8;
    font-size:small;
}

.eth{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:20px;
}
#ethereum{
    display:flex;
    flex-direction:row;
    gap:7px;
}
#clock-view{
    display:flex;
    flex-direction:row;
    gap:6px;
}
.numeth{
    font-size:13px;
    color:var(--Cyan);
}
.profile{
    margin-top:15px;
    display:flex;
    flex-direction:row;
    gap:11px;
}

.profile > p{
    color:var(--White);
    opacity:0.5;
}
.profile > p > span{
    cursor:pointer;
    font-weight:500;
}

